%p
This Fulfillment Reseller Agreement is entered into on the earlier of; (i) the parties execution of an Order Form (as defined below), or (ii) Resellers use or resale of any GitLab Products (the “Effective Date”) between:
%p
GitLab Inc. with a registered address at #350, San Francisco, CA 94104, USA, or an Affiliate of GitLab as referenced in an Order Form (referred to herein as "Vendor" or “GitLab”); and
%p
The Reseller identified in an executed Order Form, or, otherwise resells the GitLab Products (the "Reseller")
%h3 Background:
%p
(A) Vendor sells the Products (as defined below) and wishes to arrange for distribution of the Products in the Territory (as defined below).
%p
(B) Vendor has agreed to appoint the Reseller as its non-exclusive Reseller to distribute the Products and associated documentation in the Territory on and subject to the terms and conditions set out in this Agreement.
%p
It is agreed as follows:
%p
1.  Definitions and interpretation
%p
1.1
In this Agreement, unless the context otherwise requires, the following words shall have the following meanings:
%p
"Agreement" means this agreement (including any Order Form, schedule or annexure to it);
%p
"Business Day" means a day (other than a Saturday or a Sunday) on which clearing banks are open for business in the State of California, USA;
%p
"Confidential Information" means any information disclosed by a party under this Agreement which is marked as confidential or which is reasonably apparent as confidential in nature including all commercial or technical information relating to the disclosing party's business;
%p
"Control" means direct or indirect ownership of: (i) 50% or more of the voting securities or voting interest in such corporation or other entity; (ii) 50% or more of the interest in the profit or income in the case of a business entity other than a corporation; or (iii) in the case of a partnership, any other comparable interest in the general partner;
%p
"Effective Date" means the date of this Agreement;
%p
"Event of Force Majeure" means an event beyond the reasonable control of a party including but not limited to a strike, lock out or other form of industrial action (except in relation to a party's own workforce), outbreak of hostilities, riot, civil disturbance or acts of terrorism, fire, explosion or flood, or theft and malicious damage.  No event shall be treated as an Event of Force Majeure if it is attributable to a wilful act or omission or any failure to take reasonable precautions by a party or any failure to take reasonable steps to overcome the event;
%p
"Financial Year" means the period from 1 January to 31 December in each Year;
%p
"Initial Term" means the period of twelve (12) months after the Effective Date;
%p
"Intellectual Property Rights" means copyright and related rights, trademarks and service marks, trade names and domain names, patents, rights to inventions, rights in get-up, rights to goodwill and to sue for passing off and unfair competition, rights in designs, rights in computer software, the "look and feel" of any websites, database rights, rights in confidential information (including know-how and trade secrets) and any other intellectual property rights, in each case whether registered or unregistered and including all applications (and rights to apply) for, and renewals or extensions of, such rights and all similar or equivalent rights or forms of protection which subsist or will subsist, now or in the future, in any part of the world;
%p
"End User" means the Reseller's end customer who, (i) has acquired GitLab Products for their own personal or internal use and without the right to resell, remarket or otherwise distribute GitLab Products, and (ii) is situated in the Territory;
%p
“Order Form” means the transactional agreement executed between GitLab and Reseller for the sales of Product(s) to an End User. 
%p
"Products" means the Software and/or Software Documentation;
%p
"EULA" means the end user subscription licence agreement(s) applicable to the relevant Product(s) sold to the Licensee, the forms of which are set out in the Subscription Agreement (defined within this Agreement);
%p
"Software" means the software supplied by Vendor to the Reseller pursuant to this Agreement and all modifications, enhancements and replacements of the Software and additions to the Software provided by Vendor and made available to the Reseller from time to time pursuant to this Agreement including the software applications listed in an applicable Order Form (Products);
%p
"Software Documentation" means the operating manuals and other literature provided or made available by Vendor to the Reseller from time to time for use by Licensees in conjunction with the Software;
%p
"Support Services" means the software support and maintenance services provided by Vendor to Licensees as set out in the applicable EULA;
%p
"Territory" is defined in Exhibit 1(Territory), if left blank, then the Territory shall default to any country in which GitLab is legally allowed to provide Products; 
%p
"End User Staff" means a member of staff of an End User or potential End User of a Product who is authorised, or in the event that such Product(s) were to be licensed to that End User or potential End User Vendor would expect to be authorised, to use the Product(s);
%p
"Year" means a period of twelve (12) months from the Effective Date or an anniversary of such date.
%p
In this Agreement, unless the context otherwise requires: 
%p
(a) the words "includes" or "including" shall be construed as illustrative only and shall not limit the generality of the preceding words;
%p
(b) if there is any conflict or inconsistency between any clause of this Agreement and any schedule to this Agreement, the clause shall prevail; and
%p
(c) the headings are inserted for convenience only and shall not affect the interpretation of this Agreement.
%h3 2.  Appointment
%p 
2.1 Vendor appoints the Reseller and the Reseller agrees to act as the non-exclusive Reseller of Vendor for the distribution, sale and marketing of the Products in the Territory, subject to the terms and conditions of this Agreement.
%p
2.2 The Reseller warrants to Vendor that it has the ability and experience to carry out the obligations assumed by it under this Agreement and that by virtue of entering into this Agreement it is not and will not be in breach of any express or implied obligation to any third party binding upon it.
%p
2.3 The Reseller shall not represent itself as an agent of Vendor for any purpose, nor pledge Vendor’s credit or give any condition or warranty or make any representation on Vendor’s behalf of or commit Vendor to any contracts.  Further, the Reseller shall not without Vendor’s prior written consent make any representations, warranties, guarantees or other commitments with respect to the specifications, features or capabilities of the Products other than, or which are inconsistent with, those contained in the documentation supplied by Vendor (including, without limitation, the EULA) or otherwise incur any liability on behalf of Vendor in any circumstances.
%p
2.4 On giving three (3) months' notice in writing to the Reseller, Vendor may vary Product offering availability as it thinks fit to exclude one or more of the Products from this Agreement if the production or sale of such Products is permanently discontinued for any reason. 
%p
2.5 Vendor may make changes to the Products and specifications thereof, provided the changes do not materially adversely affect the overall quality of the Products. Vendor shall give notice of any changes to Product specifications to the Reseller as soon as reasonably practicable.
%h3 3.  Duration
%p
3.1 This Agreement shall commence on the Effective Date and (unless terminated at an earlier date in accordance with clause 13 (Termination)) shall continue in force for the Initial Term and after that continue unless and until either party gives the other party not less than thirty (30) days’ notice in writing to expire at any time on or after the expiry of the Initial Term.
%h3 4.  Supply of Products
%p
4.1 The Reseller shall in respect of each order for the Products to be supplied under this Agreement be responsible for:
%p
(a) submitting orders for Products in writing, electronically, or by other agreed means;
%p
(b) ensuring the accuracy of the order; and
%p
(c) providing Vendor with any information which is necessary to enable Vendor to fulfil the order. 
%p
4.2 The Reseller shall require each End User to sign or otherwise assent (in a manner acceptable to GitLab) to the agreement set forth at https://about.gitlab.com/terms/#subscription, as updated by GitLab from time to time (“Subscription Agreement”), as a condition to the distribution of GitLab Product(s) to such End User. Partner shall not amend or grant any waiver under the Subscription Agreement. 
%p
4.3 If Reseller becomes aware of any violation of the Subscription Agreement, Reseller will notify GitLab immediately and will reasonably assist GitLab in its efforts to enforce the terms of the Subscription Agreement. 
%p
4.4 When GitLab and Reseller have executed an Order Form referencing this Agreement, or GitLab has accepted the Reseller’s Purchase Order, subject to an Order Form and this Agreement,   GitLab will issue the applicable software license key to the End User. 
%p
4.5 If applicable, Reseller shall supply prospected deals through the deal register process stated in the GitLab Reseller Handbook located at https://about.gitlab.com/handbook/resellers/#deal-registration (“Deal Registration”). Deal Registration approval or rejection shall be at GitLab’s sole discretion. 
%h3 5. Product distribution 
%p
5.1 End Users may download the Software from the software download link sent electronically to them, or from GitLab’s web-site, and access it following receipt of a licence key in accordance with clause 4. 
%p
5.2 Subject to Vendor’s prior written approval in each case, Vendor grants the Reseller a non-exclusive, non-transferable licence (without the right to sub-licence) to demonstrate the Software to prospective customers subject to the terms and conditions of, (i) this Agreement, (ii) the Subscription Agreement terms stated in Section 4.2 above, and/or (iii) any other terms and conditions (including time limitations) provided by GitLab from time to time.  The Reseller shall not otherwise provide access to the Software or the Software Documentation to any third party.
%p
5.3 The Reseller shall not:
%p
(a) reverse engineer, decompile or otherwise endeavour to obtain the source code to the any Software in object code form.
%p
(b) copy the Software save as expressly permitted under this Agreement.
%h3 6. Duties and obligations of the Reseller
%p
6.1 The Reseller shall:
%p
(a) use its best endeavours to promote the distribution and sale of the Products throughout the Territory;
%p
(b) promptly inform Vendor of any facts or opinions of which the Reseller becomes aware which are likely to be relevant in relation to the commercial exploitation of the Products and which are advantageous or disadvantageous to the interests of Vendor;
%p
(c) at all times conduct its business in a manner that will reflect favourably on the Products and on the good name and reputation of Vendor;
%p
(d) not by itself or with others participate in any illegal, deceptive, misleading or unethical practices including, but not limited to, disparagement of the Products or Vendor or other practices which may be detrimental to the Products, Vendor or the public interest;
%p
(e)not make any misrepresentations in relation to the Products;
%p
(f) not during the continuance of this Agreement actively market the Products outside the Territory without the prior written consent of Vendor provided otherwise that nothing else in this Agreement shall prevent the Reseller from responding to unsolicited requests for the Products from outside the Territory;
%p
(g)supply to Vendor such reports, returns and other information relating to orders and projected orders for the Products as Vendor may from time to time reasonably require;
%p
(h) not make any promises or representations or give any warranties or guarantees in respect of the Products except such as are contained in a EULA or as expressly authorised by Vendor in writing and shall not supply the Products to any prospect knowing that it does not meet that prospect's specified requirements;
%p
(i) use Vendor's trademarks and trade names relating to the Products only in the registered or agreed style in connection with the distribution of the Products and shall not use such trademarks or trade names in connection with any other products or services or as part of the corporate or any trade name of the Reseller;
%p
(j) not alter, obscure, remove, interfere with or add to any of the trademarks, trade names, markings or notices affixed to or contained in the Products;
%p
(k) permit Vendor and its authorised agents at all reasonable times with seven (7) Business Days’ notice to enter any of the Reseller's premises for the purpose of ascertaining that the Reseller is complying with its obligations under this Agreement (and the Reseller irrevocably licenses Vendor, its employees and agents to enter any such premises for such purpose); and
%p
(l) be responsible for advertising and promoting the Products in the Territory (but the Reseller shall not use any advertising materials or promotional literature without Vendor's prior written consent).
%p
(m) Comply with all of the terms and conditions of the GitLab Reseller Program and Reseller Handbook, which can be found at  (https://about.gitlab.com/resellers/program) and (https://about.gitlab.com/handbook/resellers), respectively, both of which may be subject to change from time to time.  To the extent there are any conflicts between the terms of the GitLab Reseller Program or Reseller Handbook, and this Agreement, the terms of this Agreement shall take precedence.
%p
(n) Comply with the GitLab Partner Code of Ethics as found at https://about.gitlab.com/handbook/people-group/code-of-conduct/
%h3 7. Duties and obligations of Vendor
%p
7.1 GitLab shall:
%p
(a) provide the Reseller with such marketing and technical assistance as Vendor may in its discretion consider necessary to assist the Reseller with the promotion of the Products;
%p
(b) endeavour to answer as soon as possible all technical queries raised by the Reseller concerning the use or application of the Products;
%p
(c) provide the Reseller with a reasonable number of copies of any promotional literature relating to the Products which Vendor may produce from time to time;
%p
(d) provide the Support Services; and
%p
(e) provide the Reseller promptly with all information and assistance necessary to enable the Reseller properly to perform its obligations under this Agreement in respect of any modified, enhanced or replacement version of or addition to the Software.
%h3 8. Prices and payment
%p 
8.1 Subject to Exhibit 2 (Product) attached to this Agreement, Reseller will pay Vendor for each order of the Products as set out in an applicable Order Form executed, or otherwise agreed to between GitLab and Reseller. Upon the execution of the Order Form between GitLab and Reseller, all fees outlined in the Order Form shall be considered due and payable, subject to this Agreement. The terms of this Agreement and an applicable Order Form shall govern the relationship between Vendor and Reseller with respect to all matters related herein. For the avoidance of doubt, no terms on a Reseller PO shall govern or otherwise apply to any matters relating to this Agreement or an Order Form, and all such PO terms are expreselly rejected.
%p
8.2 The Reseller shall be responsible for obtaining any necessary import licences, certificates of origin or other requisite documents and paying all applicable customs, duties and taxes (both present and future) in respect of the importation of the Products into the Territory and their resale in the Territory.
%p
8.3 All payments under this Agreement shall be paid free and clear of all deductions or withholdings whatsoever, save to the extent any such deductions or withholdings are required by law.
%p
8.4 Unless otherwise stipulated in a Tax Treaty, if any party is required by law to make any deduction or withholding in respect of tax from any amounts payable to the other party under this Agreement, the paying party shall:
%p
(a) pay to the other party an additional amount as will, after the deduction or withholding has been made, leave the receiving party with the same amount as it would have been entitled to receive in the absence of any such requirement to make a deduction or withholding;
%p
(b) promptly pay to the relevant taxation authority within the period permitted by law the amount of such withholding or deduction; and
%p
(c) provide the receiving party with written evidence that it has made the payment to the relevant tax authority.
%p
8.5 Unless otherwise stipulated a Tax Treaty, where under this Agreement any party agrees to pay to any other party any sum or to furnish to any other party consideration which (in either case) is consideration for a taxable supply that sum or consideration shall be exclusive of all value added tax, sales or similar taxes ("Tax") payable on it and the recipient of the supply shall pay an amount equal to such Tax in addition to any sum or consideration on receipt of a valid Tax invoice from the relevant party.
%p
8.6 The Reseller shall pay the fees of the Products stated in the executed Order Form or agreed to otherwise, and as referenced in GitLab’s invoice(s) to Reseller, within Forty Five (45) days from the date of such invoice. For the avoidance of doubt, Reseller is obligated for all fees agreed to between the parties, regardless of any default or non payment by an End User.
%p
8.7The Reseller shall not be entitled to make any deductions or deferments to the sums due to Vendor under this Agreement in respect of any disputes or claims whatsoever with or against Vendor.
%p
8.8 If the Reseller fails to make any payment to Vendor under this Agreement on the due date then, without prejudice to any other right or remedy available to Vendor, Vendor shall be entitled to:
%p
(a)suspend the performance or further performance of its obligations under this Agreement without liability to the Reseller; and
%p
(b) charge the Reseller interest on the outstanding amount at the rate of the lesser of (a) 4% per annum above the overnight LIBOR rate calculated daily from the date the payment became due until actual payment is made, or (b) the highest amount permitted by applicable law.
%p
8.9 Notwithstanding the fact that Vendor will publish its price list from time to time the Reseller shall determine, at its sole discretion, the price at which it sells the Products to its customers, and any discounts the Reseller offers to its customers will not vary the amount payable to Vendor for the Products under this clause 8.
%h3 9. Audit rights 
%p
9.1 The Reseller shall keep proper, accurate and up to date records and data relating to the performance of its obligations under the Agreement and all payments made and received by the Reseller in connection with this Agreement.  The Reseller shall retain such records from the Effective Date until at least six (6) years after the expiry or termination of the Agreement. 
%p
9.2 The Reseller shall permit Vendor and its third party representatives (provided such representatives are subject to written confidentiality obligations in respect of any information obtained), on reasonable notice during normal business hours, to access and take copies of the Reseller’s records, books of account and any other information held by or on behalf of the Reseller that are solely related to Reseller’s obligations under this Agreement and to meet with the Reseller’s personnel in order to audit the Reseller’s compliance with its obligations under this Agreement.  Such audit rights shall continue for six (6) years after termination or expiry of this Agreement.  The Reseller shall give all necessary assistance to the conduct of any such audits.
%p
9.3 If upon examination of the records, Vendor reasonably determines that any monies are due from the Reseller to Vendor pursuant to this Agreement, the Reseller shall promptly pay such sums to Vendor together within any accrued interest thereon, and reimburse Vendor for all reasonable costs incurred in connection with such audit.
%h3 10. Proprietary rights
%p
10.1 The Products and all Intellectual Property Rights in them or relating to them are and shall remain the property of Vendor (and/or its third party licensors) and nothing in this Agreement shall transfer or grant any rights in relation to the Products other than the limited licences expressly set out in this Agreement.
%p
10.2 The Reseller shall notify Vendor immediately if the Reseller becomes aware of any unauthorised use of any of the Products or any of the Intellectual Property Rights in them or relating to them and will assist Vendor (at Vendor's expense) in taking all steps to defend Vendor's rights in them.
%p
10.3 The Reseller shall not use, reproduce or deal in the Products or any copies of them except as expressly permitted by this Agreement.
%p
10.4 Subject always to clause 6(l), the Reseller may procure the translation of the Software Documentation and any other technical and promotional literature and publicity material into local languages spoken in the Territory ("Translation Works") at its own expense, provided that the Reseller agrees to grant and hereby does grant Vendor an exclusive, unrestricted, worldwide, perpetual, irrevocable, royalty-free licence to use, copy and/or modify the Translation Works as Vendor deems necessary in Vendor's sole discretion.  The Reseller shall use a reputable and appropriately qualified professional translator, and the Reseller warrants that the Translation Works accurately translate the Software Documentation and relevant materials to a high professional standard.
%p
10.5 Vendor shall defend, indemnify and hold the Reseller harmless against any unaffiliated third party claim that the Products (excluding any Translation Works procured by the Reseller) infringe the Intellectual Property Rights of any third party; provided that Reseller gives Vendor prompt written notice of all applicable claims, immediate and sole control over the defence and/or settlement of such claims, and all reasonable assistance with such claims. The foregoing obligations do not apply with respect to portions or components of the Products (i) not created by Vendor, (ii) resulting in whole or in part in accordance from Reseller or Licensee specifications, (iii) that are modified after delivery by Vendor, (iv) combined with other products, processes or materials where the alleged infringement relates to such combination, (v) where Reseller continues allegedly infringing activity after being notified thereof or after being informed of modifications that would have avoided the alleged infringement, or (vi) where Reseller’s use of the Products is not strictly in accordance with this Agreement and all related documentation. Vendor shall have the right to replace or change all or any part of the Products in order to avoid any infringement.  The foregoing states the entire liability of the Vendor to the Reseller, and Reseller’s sole and exclusive remedy, in respect of the infringement by the Products of the Intellectual Property Rights of any third party.
%h3 11. Confidentiality
%p
11.1 During the term of this Agreement and for a period of five (5) years after termination or expiry of this Agreement, each party shall:
%p
(a) treat as strictly confidential all Confidential Information received from the other party; and 
%p
(b) only use the Confidential Information received from the other party for the purpose of fulfilling its obligations and exercising its rights under this Agreement.
%p
11.2 Clause 11.1 shall not apply to the disclosure or use of Confidential Information:
%p
(a) with the prior written consent of the disclosing party;
%p
(b) to the extent required by law, a court order or by the rules of any relevant Stock Exchange or by any relevant regulatory or government authority; or
%p
(c) to the extent that information has come into the public domain through no fault of the receiving party.
%p
11.3 Reseller further agrees that in the event Reseller at any point requires the ability to act, or needs to be identified, as a “sub-processor” as defined by the General Data Protection Regulation (“GDPR”), Reseller will execute a data protection addendum for this Agreement with GitLab. 
%h3 12. Compliance with Laws; Anti-bribery
%p
12.1 The Reseller represents and warrants to Vendor that it (a) will comply with all applicable laws and regulations in its performance of its obligations and exercise of its rights under this Agreement, and (b) has not, and agrees that it shall not, in connection with any transactions contemplated by this Agreement, or in connection with any other business transactions involving Vendor, make any payment or transfer anything of value, directly or indirectly:
%p
(a) to any governmental official or employee (including employees of a government corporation or public international organisation) or to any political party or candidate for public office; or
%p
(b) to any other person or entity if such payments or transfers would violate the laws of the country in which made or the laws of the United States.
%p
12.2 It is the intent of the parties that no payments or transfers of value shall be made which have the purpose or effect of public or commercial bribery, or acceptance of or acquiescence in, extortion, kickbacks, or other unlawful or improper means of obtaining business.
%p
12.3 The Reseller represents that it is familiar with and understands the provisions of the U.S. Foreign Corrupt Practices Act ("FCPA") and agrees that it shall not violate, or cause Vendor to violate, FCPA in connection with the services provided to Vendor under this Agreement, and it shall provide certifications of compliance with FCPA upon written request by Vendor.
%p
12.4 Breach of this clause 12 shall be deemed a material breach of this Agreement.   
%p
12.5 The Reseller shall defend, indemnify and hold Vendor, its affiliates, and each of their respective employees, officers and agents harmless against any losses, liabilities, damages, costs and expenses incurred by, or awarded against, Vendor as a result of any breach (or alleged breach) of this clause 12 by the Reseller.
%h3 13. Termination
%p
13.1 Without prejudice to any other rights or remedies, either party may, by written notice to the other, terminate this Agreement, provided that such termination shall not relieve Reseller of payment of fees from an executed Order Form, if: 
%p
(a) the other party commits a material breach of this Agreement which is incapable of remedy; or
%p
(b) the other party commits a material breach of this Agreement which is capable of remedy and fails to remedy such material breach within thirty (30) days after receiving written notice requiring it to remedy that material breach; or
%p
(c) the other party suspends, or threatens to suspend payment of its debts or is deemed unable to pay its debts within the meaning of any applicable legislation; or
%p
(d) the other party suspends or ceases, or threatens to suspend or cease, to carry on all or a substantial part of its business without a successor; or
%p
(e) a petition is presented on bona fide grounds (which is not dismissed within 120 days of institution), or a resolution is passed, or an order is made, for the winding up or provisional winding up of the other party, other than for the sole purpose of a solvent amalgamation or solvent reconstruction; or
%p
(f) a receiver, administrative receiver, administrator or any similar officer is appointed in respect of the other party, or any step is taken towards the appointment of any such officer; or
%p
(g) the other party commences negotiations in relation to, or enters into, any arrangement, compromise or composition with its creditors or any class of them (with or without first having sought or obtained a moratorium); or
%p
(h) any event occurs, or proceeding is taken, with respect to the other party in any jurisdiction to which it is subject that has an effect equivalent or similar to any of the events mentioned in clause 13.1(c)-(g) inclusive.
%p
13.2 Vendor may terminate this Agreement (in whole or in part) upon written notice to the Reseller with effect from the date specified in such notice if the Reseller:
%p
(a) undergoes a change of Control; or
%p
(b) challenges or disputes the validly of any of Vendor's Intellectual Property Rights; or 
%p
(c) purports to assign any of its rights or obligations under this Agreement save as in accordance with clause 20 (Assignment and Subcontracting).
%h3 14. Consequences of termination
%p
14.1 All rights and obligations of the parties shall cease to have effect immediately on termination of this Agreement except that termination shall not affect:
%p
(a) the accrued rights and liabilities of the parties at the date of termination; and
%p
(b) the right to claim damages for losses whenever they occur provided that they arise in connection with an event occurring on or before termination of this Agreement.
%p
14.2 On termination or expiry of this Agreement for any reason:
%p
(a) all licences granted by Vendor to the Reseller under this Agreement shall terminate other than in respect of any Software or Products already granted to Licensees; 
%p
(b) the Reseller shall at its own expense within thirty (30) days return to Vendor or otherwise dispose of in accordance with the directions of Vendor all documentation of any nature whatsoever relating to the Products in its possession or control (including the Software Documentation and any Translation Works);
%p
(c) notwithstanding the provisions of clause 8, all outstanding unpaid invoices rendered by Vendor in respect of the Products shall become immediately payable by the Reseller and invoices in respect of Products ordered prior to termination but for which an invoice has not been submitted shall be payable immediately upon receipt of the invoice by the Reseller; and
%p
(d) the following clauses of this Agreement will survive: 1, 5.3, 9, 10, 11, 12, 14, 16, and 18-30 (inclusive).
%h3 15. Force majeure
%p 
15.1 Neither party shall be deemed to be in breach of this Agreement, nor otherwise liable to the other, by reason of any delay in performance or non-performance of any of its obligations under this Agreement (except with respect to payment of monetary amounts) to the extent that such delay or non-performance is due to an Event of Force Majeure.
%h3 16. Liability
%p
16.1 Nothing in this Agreement shall limit or exclude either party's liability for, death or personal injury caused by its negligence; fraud or wilful default by or on the part of a party; and anything else which cannot by law be limited or excluded.
%p
16.2 Except as provided in clause 16.1, to the maximum extent permitted by applicable law, Vendor will not be liable to the Reseller in connection with this Agreement whether arising in tort (including negligence), contract or breach of statutory duty, or otherwise, and even if foreseeable for: loss of profits; loss of business; loss of contracts; loss of revenue; loss of goodwill; loss of production; loss of anticipated savings; and/or any indirect, incidental or consequential loss, damages and/or liability.
%p
16.3 Except for the liabilities accepted under clause 16.1, to the maximum extent permitted by applicable law, Vendor's aggregate liability for all and any events arising in any Year of this Agreement shall be limited to:
%p
(a) in respect of events arising in the first Year, the lessor of:
%p
(i) an amount equal to the amount paid to Vendor under the Agreement prior to the event arising; and 
%p
(ii) the limits of Vendor's general liability insurance; and
%p
(b) in respect of any events arising in the each subsequent Year of this Agreement, the lessor of:
%p
(i) an amount equal to the amount paid or payable by the Reseller to Vendor under the Agreement in respect of the previous Year; and 
%p
(ii) the limits of Vendor's general liability insurance. 
%p
16.4 Except as expressly set forth in this agreement, the products and anything provided in connection with this agreement are provided "as-is," without any warranties of any kind.  Except as expressly set forth in this agreement, vendor and its licensors hereby disclaim all warranties, express or implied, including, without limitation, all implied warranties of merchantability, fitness for a particular purpose, title, and non-infringement.
%h3 17. Notices
%p
17.1 Any notice to be given to a party under this Agreement shall be in writing (which excludes email) signed by or on behalf of the party giving it, and shall be delivered personally, sent by recorded delivery or commercial courier, to the address of the party set out on page 1 of this Agreement.  Either party may, by a notice given in accordance with this clause, change its address for the purposes of this clause.
%p
17.2 A notice shall be deemed to have been served:
%p
(a) at the time of delivery if delivered personally; or
%p
(b) two (2) Business Days after posting in the case of an address in the same country as the sender and five (5) Business Days after posting for any other address.
%h3 18. No partnership or agency
%p
18.1 Nothing in this Agreement is intended to or shall operate to create a partnership or joint venture between the parties, or to authorise either party to act as agent for the other and neither party shall have authority to act in the name of or on behalf of the other, or to enter into any commitment or make any representation or warranty or otherwise bind the other in any way.
%h3 19. Assignment and subcontracting
%p
19.1 The Reseller may not assign, transfer, charge or otherwise encumber, declare a trust over or deal with in any other manner this Agreement or any right, benefit or interest under it, or subcontract any of its obligations under it, without the prior written consent of Vendor.
%p
19.2 Vendor may at any time assign, transfer, charge or otherwise encumber, declare a trust over or deal with in any other manner this Agreement or any right, benefit or interest under it, or subcontract any of its obligations under it.
%h3  20. Cumulative remedies
%p
20.1 Save as expressly provided in this Agreement, the rights and remedies provided under this Agreement are in addition to, and not exclusive of, any rights or remedies provided by law.
%h3 21. Exclusion of third party rights
%p
21.1 Unless expressly provided in this Agreement, no term of this Agreement is enforceable by any person who is not a party to it.
%h3 22. Severance
%p
22.1 If any court or competent authority finds that any provision of this Agreement (or part of any provision) is invalid, illegal or unenforceable, that provision (or part) shall, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this Agreement shall not be affected. 
%p
22.2 If any invalid, unenforceable or illegal provision of this Agreement would be valid, enforceable and legal if some part of it were deleted, the parties shall negotiate in good faith to amend such provision such that, as amended, it is legal, valid and enforceable, and, to the greatest extent possible, achieves the parties' original commercial intention.
%h3 23. Variation
%p 
23.1 No purported variation of this Agreement shall be valid unless it is in writing (which excludes email) and signed by or on behalf of each party.
%h3 24. Waiver
%p
24.1 No failure or delay by a party to enforce or exercise any right or remedy under this Agreement or by law shall be deemed to be a waiver of that or any other right or remedy, nor shall it operate so as to bar the enforcement or exercise of that or any other right or remedy at any time subsequently.  Any waiver of any breach of this Agreement shall not be deemed to be a waiver of any subsequent breach.
%h3 25. Entire agreement
%p
25.1 This Agreement constitutes the entire agreement and understanding of the parties with respect to the subject matter of this Agreement and supersedes any prior agreements, representations, understandings or arrangements between the parties (oral or written) in relation to such subject matter.  Each party acknowledges that:
%p
(a) upon entering into this Agreement, it does not rely, and has not relied, upon any representation (whether negligent or innocent), statement or warranty made or agreed to by any person (whether a party to this Agreement or not) except those expressly set out in this Agreement; and
%p
(b) the only remedy available in respect of any misrepresentation or untrue statement made to it (whether made negligently or innocently) shall be a claim for breach of contract under this Agreement.
%p
25.2 Nothing in this clause 25 shall limit or exclude any liability for fraud.
%h3 26. Further assurance
%p 26.1 At its own expense, the Reseller shall, and shall procure that any necessary third party shall, promptly execute all such documents and do all such other acts as are necessary to give full effect to this Agreement.
%h3 27. Export Control
%p
27.1 The Reseller acknowledges that the Products and all other related technical information, documents and materials may be subject to export controls under the U.S. Export Administration Regulations.  To the extent applicable, the Reseller shall: (i) comply with all legal requirements under these controls; (ii) cooperate fully with Vendor in any official audit or inspection that relates to these controls; and (iii) not export, re-export, divert, transfer or disclose, directly or indirectly, any Product or related technical information, document or material or direct products thereof to any country outside of the Territory, unless it does so in compliance with applicable U.S. Commerce Department regulations and those of any relevant local governmental authority.
%h3 28. Counterparts
%p 
28.1 This Agreement may be executed in any number of counterparts, each of which when executed and delivered shall constitute an original of this Agreement, but all the counterparts shall together constitute the same agreement.
%h3 29. Governing law and jurisdiction
%p
29.1 This Agreement and any dispute or claim (whether contractual or non-contractual) arising out of or in connection with it, its subject matter or formation shall be governed by and construed in accordance with the law of the State of California without regard to any conflict(s) of laws provisions thereof.
%p
29.2 Each party irrevocably agrees that the courts of San Francisco, California shall have exclusive jurisdiction to settle any dispute or claim (whether contractual or non-contractual) arising out of or in connection with this Agreement, its subject matter or formation. 
%h3 30. Counterparts and Electronic Signatures. 
%p
30.1 This Agreement may be executed in multiple counterparts by the parties hereto. All counterparts so executed shall constitute one agreement binding upon all parties, notwithstanding that all parties are not signatories to the original or the same counterpart. Each counterpart shall be deemed an original to this Agreement, all of which shall constitute one agreement to be valid as of the date of this Agreement. Documents executed, scanned and transmitted electronically and electronic signatures shall be deemed original signatures for purposes of this Agreement and all matters related thereto.
%h3 Exhibit 1
%p
(Territory)
%p
Primary: [Country Name]
%p
Secondary: [Country Name]
%h3 Exhibit 2
%p
(Product)
%p
Products 
%p
GitLab as described on GitLab’s website at https://about.gitlab.com/pricing/#self-managed
%h3 Prices 
%p
The Reseller shall pay GitLab:
%p
For each Order Form executed, or otherwise agreed to between the parties, the prices stated on GitLab’s website (stated in Section 1 above), with a discount of no greater than 3%. 
