
// sass-lint:disable no-qualifying-elements

@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "utility-classes";

$dev-2019-color-blue: #00ffeb;
$dev-2019-color-purple: #151028;
$dev-2019-color-orange: #E24329;
$dev-2019-color-yellow: #ffd900;
$dev-2019-color-dark-purple: #670077;
$dev-2019-color-pink: #a6009c;

$cloudguide-bg: #1d083f;

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $cloudguide-bg;
  color: $color-white;
  padding-top: 0;

  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: lighten($link-color, 25%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($link-hover-color, 25%);
  }
}

h1 {
  @extend %u-margin-bottom-xs;

  font-size: 46px;

  @media (min-width: $screen-sm-min) {
    font-size: 54px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 56px;
  }

  &.huge {
    font-size: 45px;

    @media (min-width: $screen-sm-min) {
      font-size: 72px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 80px;
    }    
  }
}

h2 {
  color: $color-white;
  font-size: 32px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 40px;
  }
}

h3 {
  color: $color-white;
  font-size: 28px;
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}

p {
  color: $color-white;
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
}

#main-nav.navbar {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0;
  position: relative;

  a {
    font-size: 20px;
    font-weight: 600;
  }
}

.footer {
  background-color: $cloudguide-bg;
  margin-top: 0;
  padding-bottom: 0;
}

/**//**//**//**//**//**//**/

.title-wrapper {
  margin: -25px auto 40px auto;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

/**//**//**//**//**//**//**/

.lightbg {
  background: #ffffff;
}

.lightbg * {
  color: #333333;
}


.purplebg {
  background: $color-primary;
}

.purplebg * {
  color: #ffffff;
}

.purplebg p {
  font-weight: 400;
}

.anchor-underline,
.anchor-underline:active,
.anchor-underline:focus,
.anchor-underline:hover {
  color: #ffffff;
  text-decoration: underline;
}

.image-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 10px;
}

.hr-clear {
  clear: both;
  visibility: hidden;
  width: 100%;
}

.image-divider {
  text-align: center;
}

.image-divider img {
  display: inline-block;
  margin: 20px;
  max-width: 300px;
}

.lazy[src*="#"]:after {
  content: "Image loading...";
}

.image-card .lazy[src*="#"]:after {
  color: #333333;
}

@media (max-width: 680px) {
  .title-wrapper img {
    display: none;
  }
}
